<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Burger Heaven Online</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
	<h1>Välkommen till BurgerOnline </h1>

	<section>
	  <h2>Select your Burger </h2>
	  <p>Section for selecting burgers!</p>
	</section>

	<section>
	  <table>
	    <thead>
              <tr>
		<th><h2>FIRE burger</h2></th>
		<th><h2>TURKEY burger<h2></th>
		<th><h2>double w/ CHEESE<h2></th>
              </tr>
	    </thead>
	    <tbody>

	      <tr>
		<td><img src="https://images6.alphacoders.com/883/883558.jpg" alt="Span" title="Another in-line element" width="300"></td>
		<td><img src="https://img1.southernliving.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2017/07/main/ranch_turkey_burgers_2525701_hiaha_0086.jpg?itok=sfDFAJMw" alt="Span" title="Another in-line element" width="270"></td>
		<td><img src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/lotus-burger-lead.jpg" alt="Span" title="Another in-line element" width="300"></td>
              </tr>

	      <tr>
		<td>
		  <ul>
		    <li>773 kcal</li>
		    <li>Vegan</li>
		    <li>Gluten free</li>
		    <li>Sun dried tomatoes</li>
		    <li>Onions (non-optional)</li>
		    <li>Contains actual fire from hell</li>
		  </ul>
		</td>	  		
		  
		<td>
		  <ul>
		    <li>729 kcal</li>
		    <li>NO ONIONS</li>
		    <li>Gluten free</li>
		    <li>Contains actual turkey from hell</li>
		  </ul>
		</td>	  		
              
		<td>
		  <ul>
		    <li>995 kcal</li>
		    <li>Meat from homegrown cows</li>
		    <li>Gluten filled</li>
		    <li>Fire dried tomatoes</li>
		    <li>Onions (optional)</li>
		    <li>Contains actual cheese from hell</li>
		  </ul>
		</td>	  		
              </tr>
	      
	    </tbody>
	  </table>
	</section>
  	
	<section>
	  <h2>Customer Information </h2>
	</section>
	
	<section id="contact">
          <form>
	    <p>
	      <label for="name">Full Name</label><br>
	      <input type="text" id="name" name="fn" required="required" placeholder="Name" />
	    </p>

	    <p>
	      <label for="streetaddress">Delivery Address</label><br>
	      <input type="text" id="address" name="ln" placeholder="Street name" />
	    </p>

	    <p>
	      <label for="House number">House</label><br>
	      <input type="text" id="housenumber" name="ln" placeholder="House number" />
	    </p>
	    
	    <p>
	      <label for="emailaddress">E-mail</label><br>
	      <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
	    </p>
	    
	  </form>
	</section>
	
      </main>

      <footer>
	<p>Copyright 2020 Not Really, though</p>
      </footer>
    </body>
</html>
