@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif|Share+Tech+Mono");

body {
    font-family: "Droid Serif", sans-serif;
    font-size: 150%;
    color: #000000;
}    


.ingredients {
    color: #494C53;
}

.allergy {}

#allergies {
    font-weight: bold;
    color: #000000;
}


button:hover {
    color: #8D021F;
    background-color: #D3D3D3;
}

#customer {
    background-color: #111111;
    color: #FFFFFF;
}

#burgers {

}
